@import './fonts.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	::selection {
		@apply bg-leaf;
	}

	html {
		overflow: hidden;
	}

	body {
		user-select: none;
		position: relative;
		height: 100vh;
		@apply font-serif bg-sand caret-wave;
	}

	img {
		width: auto;
		height: auto;
	}

	hr {
		@apply my-2 border-neutral-400;
	}
}

@layer components {
	._btn {
		display: inline-block;
		padding: 0 .5em;
	}

	.windows {
		@apply bg-neutral-200 border-2 border-t-white border-l-white border-b-neutral-400 border-r-neutral-400;
	}
	.windows-invert {
		@apply border-2 border-t-neutral-400 border-l-neutral-400 border-b-white border-r-white;
	}

	.button {
		@apply _btn windows;
	}
	.button:not([disabled]):active {
		@apply windows-invert;
	}
	.button[disabled] {
		@apply windows-invert bg-neutral-300;
	}
}

@layer utilities {
	.bg-mahogany {
		background-image: url(/assets/mahogany.webp);
		background-size: 250px 250px;
	}

	.shadow-real {
		box-shadow:
			0 1px 1px rgba(0,0,0,0.12),
			0 2px 2px rgba(0,0,0,0.12),
			0 4px 4px rgba(0,0,0,0.12),
			0 8px 8px rgba(0,0,0,0.12),
			0 16px 16px rgba(0,0,0,0.12);
	}

	.drop-shadow-real {
		filter:
			drop-shadow(0 1px 1px rgba(0,0,0,0.12))
			drop-shadow(0 2px 2px rgba(0,0,0,0.12))
			drop-shadow(0 4px 4px rgba(0,0,0,0.12))
			drop-shadow(0 8px 8px rgba(0,0,0,0.12))
			drop-shadow(0 16px 16px rgba(0,0,0,0.12));
	}

	.glare {
		position: relative;
	}
	.glare::after {
		content: '';
		position: absolute;
		inset: 1px;
		border-radius: inherit;
		clip-path: polygon(60% 0, 100% 0, 100% 100%, 75% 100%);
		@apply bg-gradient-to-b from-white/20 to-transparent;
	}
}
